@use './styles/colors';
@use './styles/animations';

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    // transition: all 300ms;
    // text-align: center;
}

/*
#wrapper {
    display: flex;
    flex-direction: column;

    #weather-widget {
        background-color: crimson;
        border-radius: 1em;
        min-width: 60%;
        margin: auto;
        position: relative;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        text-transform: capitalize;

        .waiting {
            width: 5em;
            height: 5em;
            border-style: solid;
            border-radius: 50%;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0);

            &#one {
                animation: waiting 1s infinite;
            }

            &#two {
                animation: waiting 1s infinite 500ms;
            }

            &#three {
                animation: waiting 1s infinite 300ms;
            }
        }

        .temp {
            display: flex;
            align-items: center;
            flex-direction: row;
            // position: relative;
            // top: 0;
            // left: 0em;

            &:hover {
                #units {
                    opacity: 1;
                    transform: translate(0);
                }
            }

            #icon {
                margin-right: -3em;
            }

            #units {
                display: flex;
                flex-direction: column;
                margin: 1em;
                transform: translate(-1.5em);
                opacity: 0;

                .unit {
                    background-color: white;
                    margin: 0.25em;
                    padding: 0.5em;
                    border-radius: 0.5em;
                    border-style: solid;
                    border-color: black;
                    font-weight: bold;

                    &:hover {
                        background-color: black;
                        color: white;
                    }
                }
            }
        }
    }
}
*/
#wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    #weather-widget {
        background-color: darkorange;
        border-radius: 1em;
        min-width: 60%;
        position: relative;

        display: flex;
        justify-content: space-between;
        align-items: center;

        text-transform: capitalize;

        .current-weather {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;

            .main {
                display: flex;
                align-items: center;
                margin-right: 1em;

                .icon {
                    margin-right: -1.5em;
                }

                .temp {
                    position: relative;

                    &:hover {
                        #units {
                            opacity: 1;
                            top: 3.5em;
                        }
                    }

                    #units {
                        position: absolute;
                        left: 1em;
                        top: 3em;
                        opacity: 0;

                        .unit {
                            background-color: white;
                            border-color: black;
                            border-style: solid;
                            border-radius: 1em;
                            font-weight: bold;

                            &:hover {
                                background-color: black;
                                color: white;
                            }
                        }
                    }
                }
            }

            .other-data {
                p {
                    margin: 0;
                }
            }
        }

        .time-place {
            margin: 1em;

            h3,
            h4 {
                margin: 0;
            }
        }
    }

    #daily-data {
        display: flex;
        flex-wrap: wrap;
        background-color: grey;
        border-radius: 1em;
        z-index: -1;
        margin-top: -1em;

        .day {
            display: flex;
            flex-direction: column;
            align-items: center;

            h4 {
                margin: 0;
            }
        }
    }
}
